/* Un-comment the following, for initial RTL UI support.
body {
   direction: rtl; 
   text-align: right;
}
*/
 
 .bar-side-menu {
   background-color: red;
 }
 
 .bar-content {
   background-color: white;
 }
 
 .button.button-positive {
   border-color: black;
   background-color: white;
    color: #fff;
 } 
 
 .item-divider {
   background-color: #fafafa;
 }
